node-red/flows.json
[
    {
        "id": "9f0a4d1acb454857",
        "type": "tab",
        "label": "HVAC Monitoring System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a97b5418d5dd26b",
        "type": "inject",
        "z": "9f0a4d1acb454857",
        "name": "Generate HVAC Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "0cb8635a851792b3"
            ]
        ]
    },
    {
        "id": "933aed43e330c453",
        "type": "debug",
        "z": "9f0a4d1acb454857",
        "name": "Debug Telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "0cb8635a851792b3",
        "type": "function",
        "z": "9f0a4d1acb454857",
        "name": "HVAC Data Generator",
        "func": "// Generate realistic mock data for our HVAC parameters\nconst temperature = parseFloat((22 + Math.random() * 4).toFixed(1)); // 22°C to 26°C\nconst humidity = parseFloat((45 + Math.random() * 15).toFixed(1));    // 45% to 60%\nconst voltage = parseFloat((225 + Math.random() * 10).toFixed(1));   // 225V to 235V\nconst current = parseFloat((3.5 + Math.random() * 2.0).toFixed(1));  // 3.5A to 5.5A\n\n// Simple calculation for Energy (Power = V * A, simplified representation)\nconst energy = parseFloat(((voltage * current) / 1000).toFixed(2)); \n\n// Simulate 0 to 12 people in the zone\nconst occupancy = Math.floor(Math.random() * 13); \n\n// Bundle it into a single professional JSON telemetry packet\nmsg.payload = {\n    temperature: temperature,\n    humidity: humidity,\n    voltage: voltage,\n    current: current,\n    energy: energy,\n    occupancy: occupancy\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "663162be465b223d"
            ]
        ]
    },
    {
        "id": "c7003c96ddae6e1f",
        "type": "comment",
        "z": "9f0a4d1acb454857",
        "name": "Simulation Layer ",
        "info": "Generates virtual HVAC sensor data.",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "663162be465b223d",
        "type": "function",
        "z": "9f0a4d1acb454857",
        "name": "HVAC Data Processor",
        "func": "// 1. Capture the incoming telemetry object\nconst rawData = msg.payload;\n\n// 2. Add ISO 8601 Standard Timestamp\nconst timestamp = new Date().toISOString();\n\n// 3. Quality Check / Validation Rules\n// If any reading falls outside physical reality, clamp it or flag it\nlet validTemperature = rawData.temperature;\nif (validTemperature < -10 || validTemperature > 60) validTemperature = 25.0; // Fail-safe default\n\nlet validHumidity = rawData.humidity;\nif (validHumidity < 0 || validHumidity > 100) validHumidity = 50.0; // Clamp to human comfort norms\n\nlet validOccupancy = rawData.occupancy;\nif (validOccupancy < 0) validOccupancy = 0; // Prevent impossible negative headcounts\n\n// 4. Construct the Standardized Message Contract\nmsg.payload = {\n    timestamp: timestamp,\n    temperature: parseFloat(validTemperature.toFixed(1)),\n    humidity: parseFloat(validHumidity.toFixed(1)),\n    voltage: parseFloat(rawData.voltage.toFixed(1)),\n    current: parseFloat(rawData.current.toFixed(1)),\n    energy: parseFloat(rawData.energy.toFixed(2)),\n    occupancy: parseInt(validOccupancy)\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 260,
        "wires": [
            [
                "933aed43e330c453",
                "175071206be88e53"
            ]
        ]
    },
    {
        "id": "175071206be88e53",
        "type": "mqtt out",
        "z": "9f0a4d1acb454857",
        "name": "Publish HVAC Data",
        "topic": "hvac/data",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b0d70d0ced72d29",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "71089e25d31c6ade",
        "type": "mqtt in",
        "z": "9f0a4d1acb454857",
        "name": "Subscribe HVAC Data",
        "topic": "hvac/data",
        "qos": "0",
        "datatype": "json",
        "broker": "1b0d70d0ced72d29",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 600,
        "wires": [
            [
                "52da697b34ff63f2",
                "6708a09f42b52f75"
            ]
        ]
    },
    {
        "id": "52da697b34ff63f2",
        "type": "debug",
        "z": "9f0a4d1acb454857",
        "name": "Debug MQTT Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "6708a09f42b52f75",
        "type": "function",
        "z": "9f0a4d1acb454857",
        "name": "UI Payload Splitter",
        "func": "// Parse the incoming string payload if it isn't already an object\nconst data = (typeof msg.payload === \"string\") ? JSON.parse(msg.payload) : msg.payload;\n\n// Create 6 independent message objects targeting our 6 outputs with topics added!\nconst outTemp      = { payload: data.temperature, topic: \"Temperature\" };\nconst outHumidity  = { payload: data.humidity, topic: \"Humidity\" };\nconst outVoltage   = { payload: data.voltage, topic: \"Voltage\" };\nconst outCurrent   = { payload: data.current, topic: \"Current\" };\nconst outEnergy    = { payload: data.energy, timestamp: Date.now(), topic: \"Energy\" };\nconst outOccupancy = { payload: data.occupancy, topic: \"Occupancy\" };\n\n// Return the array matching the physical output ports (1 to 6)\nreturn [outTemp, outHumidity, outVoltage, outCurrent, outEnergy, outOccupancy];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 840,
        "wires": [
            [
                "e9ce2a4a5be735d0",
                "ee8dad1c08a8ec54"
            ],
            [
                "1efd7bc643d58597"
            ],
            [
                "5f715defbf6403b1"
            ],
            [
                "cafd2e363fe0964d",
                "ee8dad1c08a8ec54"
            ],
            [
                "712c33ee2d9e43f8"
            ],
            [
                "f24423341ad316c1"
            ]
        ]
    },
    {
        "id": "e9ce2a4a5be735d0",
        "type": "ui-gauge",
        "z": "9f0a4d1acb454857",
        "name": "Temperature",
        "group": "4c8daa69d5751f64",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temparature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "Normal",
                "textType": "str"
            },
            {
                "from": "24",
                "color": "#ffc800",
                "text": "Warning",
                "textType": "str"
            },
            {
                "from": "28",
                "color": "#ea5353",
                "text": "Critical",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 790,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "1efd7bc643d58597",
        "type": "ui-gauge",
        "z": "9f0a4d1acb454857",
        "name": "Humidity",
        "group": "4c8daa69d5751f64",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "Dry",
                "textType": "str"
            },
            {
                "from": "40",
                "color": "#5cd65c",
                "text": "Optimal",
                "textType": "str"
            },
            {
                "from": "60",
                "color": "#ea5353",
                "text": "Humid",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 780,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "5f715defbf6403b1",
        "type": "ui-text",
        "z": "9f0a4d1acb454857",
        "group": "461867b76e5001be",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "System Voltage",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "msg.payload & \" V\"",
        "valueType": "jsonata",
        "x": 800,
        "y": 760,
        "wires": []
    },
    {
        "id": "cafd2e363fe0964d",
        "type": "ui-gauge",
        "z": "9f0a4d1acb454857",
        "name": "Current Draw",
        "group": "461867b76e5001be",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Current ",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "A",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "Normal Load",
                "textType": "str"
            },
            {
                "from": "6",
                "color": "#ffc800",
                "text": "High Load",
                "textType": "str"
            },
            {
                "from": "8.5",
                "color": "#ea5353",
                "text": "Over Load",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 790,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "712c33ee2d9e43f8",
        "type": "ui-chart",
        "z": "9f0a4d1acb454857",
        "group": "c08b6b536162d620",
        "name": "Energy Consumption trend",
        "label": "Energy Consumption trend",
        "order": 1,
        "chartType": "line",
        "category": "Energy",
        "categoryType": "str",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Energy (kWh)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 840,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "f24423341ad316c1",
        "type": "ui-text",
        "z": "9f0a4d1acb454857",
        "group": "4c8daa69d5751f64",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Current Occupancy",
        "label": "Current Occupancy",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "msg.payload & \" people\"",
        "valueType": "jsonata",
        "x": 810,
        "y": 940,
        "wires": []
    },
    {
        "id": "e14ae196cad71a5b",
        "type": "ui-text",
        "z": "9f0a4d1acb454857",
        "group": "d2b103b9f04c61dc",
        "order": 1,
        "width": "8",
        "height": "2",
        "name": "System Alerts: Normal Operation",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 860,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ee8dad1c08a8ec54",
        "type": "function",
        "z": "9f0a4d1acb454857",
        "name": "Alarm Rule Engine",
        "func": "// Initialize or retrieve persistent variables to keep track of current readings\nlet currentTemp = context.get('temp') || 22;\nlet currentDraw = context.get('current') || 4.0;\n\n// Update state based on incoming data streams\nif (msg.topic === \"Temperature\" || !msg.topic) {\n    currentTemp = msg.payload;\n    context.set('temp', currentTemp);\n} else if (msg.topic === \"Current\") {\n    currentDraw = msg.payload;\n    context.set('current', currentDraw);\n}\n\n// Establish fallback default alert status\nlet statusText = \"System operating within normal parameters.\";\nlet stateName = \"HEALTHY\";\nlet alertColor = \"#4CAF50\"; // Clean industrial green\n\n// 1. Evaluate Critical Fault Conditions First\nif (currentDraw > 8.5 || currentTemp > 28) {\n    stateName = \"CRITICAL\";\n    alertColor = \"#F44336\"; // Red\n    statusText = currentDraw > 8.5 ? \"CRITICAL: Overcurrent limit tripped!\" : \"CRITICAL: Dangerous room overheating!\";\n} \n// 2. Evaluate Marginal Warning Conditions Next\nelse if (currentDraw > 6.0 || currentTemp > 24) {\n    stateName = \"WARNING\";\n    alertColor = \"#FFC107\"; // Yellow\n    statusText = currentDraw > 6.0 ? \"WARNING: High phase current draw detected.\" : \"WARNING: Elevated zone temperature.\";\n}\n\n// Generate the local timestamp string (HH:MM:SS)\nconst now = new Date();\nconst timeString = now.toTimeString().split(' ')[0];\n\n// Store the explicit raw tracking name as a metadata property!\nmsg.state = stateName; \n\n// Package the evaluation result into a standardized Markdown payload with the Live Timestamp\nmsg.payload = `<div style=\"background-color: ${alertColor}; color: white; padding: 12px; border-radius: 4px; font-weight: bold; text-align: center; font-family: sans-serif;\">\n    <div style=\"font-size: 1.1em; margin-bottom: 4px;\">Status: ${stateName} | ${statusText}</div>\n    <div style=\"font-size: 0.85em; font-weight: normal; opacity: 0.9;\">Last Updated: ${timeString}</div>\n</div>`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "e14ae196cad71a5b"
            ]
        ]
    },
    {
        "id": "87f49c398a4d706d",
        "type": "comment",
        "z": "9f0a4d1acb454857",
        "name": "Processing Layer",
        "info": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "d9f5cc42bc47613c",
        "type": "comment",
        "z": "9f0a4d1acb454857",
        "name": "Communication Layer",
        "info": "",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "0eb7c574c2957931",
        "type": "comment",
        "z": "9f0a4d1acb454857",
        "name": "Presentation Layer",
        "info": "",
        "x": 1090,
        "y": 760,
        "wires": []
    },
    {
        "id": "a03197fdb8abc66a",
        "type": "comment",
        "z": "9f0a4d1acb454857",
        "name": "Business Logic Layer",
        "info": "",
        "x": 940,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1b0d70d0ced72d29",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4c8daa69d5751f64",
        "type": "ui-group",
        "name": "Environmental Group",
        "page": "cac00a6afc9cb266",
        "width": "6",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "461867b76e5001be",
        "type": "ui-group",
        "name": "Electrical Group",
        "page": "cac00a6afc9cb266",
        "width": "6",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c08b6b536162d620",
        "type": "ui-group",
        "name": "Energy Trend",
        "page": "cac00a6afc9cb266",
        "width": "12",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d2b103b9f04c61dc",
        "type": "ui-group",
        "name": "System Status & Diagnostics",
        "page": "cac00a6afc9cb266",
        "width": "12",
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cac00a6afc9cb266",
        "type": "ui-page",
        "name": "HVAC & Remote Energy Monitoring System",
        "ui": "68191ef77e44e9ad",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "37d9ecf640c6047c",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "68191ef77e44e9ad",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "37d9ecf640c6047c",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3729ddd3f8644cad",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]